h1{
color:green;
text-align:center;
padding-top:60;
font-size:100px;
}
.main{
background-color:skyblue;
height:30%;

}
p{
color:black;
text-align:center;
font-size:40px;


}
.first{
background-color:orange;
height:30%;
width:110%;
margin-right: 30px;
text-align: center;
padding: 2px;
padding-bottom: 30px;


}
.second{
background-color:pink;
height:30%;
width: 70%;
margin-left: 250px;
text-align: center;
padding: 2px;
padding-bottom: 30px;

}
.sonu{
display: inline-flex;
height:100%;
width: 150%;
margin-left: 100px;
}
.s1{
    font-size: 80px;
    color:yellow;
    margin-bottom: 5px;
}
.s2{
    font-size:80px ;
    color:yellow;
}
a{
    text-decoration: none;
}

.dd{
    margin-left:40px;
}

.aa{
    margin-left:40px;
}
.rr{
    margin-left:40px;
}
.kk{
    margin-left:40px;
}
.yy{
    margin-left: 40px;
}
.ww{
    margin-left: 40px;
}
.tt{
    margin-left: 40px;
}
.sup{
    display: inline-flex;
}
.oo{
    margin-left: 100px;
    border: solid black 5px;
    
    
}
.gg{
margin-left: 40px;
    margin-left: 80px;
    border: solid black 5px;
    margin-left: 90px;
    width: 285px;
}
.pp{
    margin-left: 70px;
    margin-top: 80px;
    border: solid black 5px;
    
    
}
.nn{
    margin-left: 80px;
    margin-top: 70px;
    border: solid black 5px;
    width: 300px;
}
.qq{
    margin-top: 70px;
border: solid black 5px;

    
    
    
}
.ff{
    margin-left: 40px;
    border: solid black;
    margin-top: 70px;
    width: 300px;
}
.zz{
    margin-left:80px;
    margin-top: 70px;
    border: solid black 5px;
    width: 200px;}

    


.fst{
    border: solid black 5px;
    
}
.ii{
    border: solid black 5px;
    margin-top: 70px;
width: 300px;

} 
.ss{
    margin-top: 70px;
    border: solid black 5px;
    
}
.nmbr{
    
    display: inline-flex;
    height: 160px;
    border:solid black 5px ;
}
.joker{
    display:inline-flex;
    height: 160px;
    border: solid black 5px;
    margin-left: 100px;

}
.rose{
    display: inline-flex;
    height: 160px;
    border: solid black 5px;
    margin-left: 100px;
}
.dog{
    display: inline-flex;
    height: 160px;
    border: solid black 5px;
    margin-top: 100px;
    
}
.tag{
    display:inline-flex;
    height: 160px;
    border:solid black 5px;
    margin-left: 100px;
    margin-top: 100px;
}
.cat{
    display:inline-flex;
    height: 160px;
    border: solid black 5px;
    margin-left: 100px;
    margin-top: 100px;
}
.fish{
    display: inline-flex;
    height: 160px;
    border: solid black 5px;
    margin-top: 100px;
    
    
}
.kite{
    display: inline-flex;
    height: 160px;
    border: solid black 5px;
    
    margin-left: 100px;
    margin-top: 100px;
    
}
.mango{
    display: inline-flex;
    height: 160px;
    border: solid black 5px;
    margin-top: 100px;
    margin-left: 100px;
}
.apple{
    display: inline-flex;
    height: 160px;
    border: solid black 5px;
    margin-top: 100px;}




.hjkkl{
    padding-left: 3px;
}
.qr{
   background-color: gray;
}
.pfff{
    background-color: violet;
}
button{
    height: 50px;
    width: 100px;
    font-size: large;
}
    
    

 
    
    
